@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Exo+2:ital,wght@1,100&display=swap');

			html {
 				
 				margin: 0px;
 				background: black;
 				scroll-behavior: smooth;
 				width: 100%;

				}


			body {
  					font-family: Dosis, sans-serif;  
  					margin: 0px;
  					color: #FFFFFF;
  					background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 50%, rgba(25,25,25,1) 100%);
  					width:  100%;

				}

			p#text {
					/* width: 66%; */
					font-size: 2vw;
					padding: 5px;

				}

			div {
				margin-top: 0px;
				/* margin-bottom: 10vh; */
				/* padding-top: 30px; */
				width: 66%;
				padding-top: 4vh;
				padding-bottom: 4vh;
				}

			div.bioimage {
				margin: 0px;
				padding: 0px;
				border: 0px;
				height: auto;
				}

			footer {
				margin-top: 0px;
				/* margin-bottom: 10vh; */
				/* padding-top: 30px; */
				width: 66%;
				padding-top: 2vh;
				padding-bottom: 2vh;
					}

			div.header {
						margin: 0px;
						padding:  0px;
						border:  0px;
						width: 100vw;
						height: auto;
						background: #000000;
						}

			h1 {
				font-family: "Exo 2", sans-serif;
				font-size: 10vw;
				margin: 0px;
				padding:  0px;
				font-style: italic;
				}

			h2 {
				font-family: "Exo 2", sans-serif;
				font-size: 5vw;
				margin-bottom: 1.5vh;
				margin-top: 2.5vh;
				font-style: italic;
				border-width: 1px;
				border-color: #FFFFFF;
				border-style: solid none solid none;
				width:  33%;
				}

			a {
				color: #FFFFFF;
			  		text-decoration: none;
			  		font-size: 2vw;
				}

			a:hover {
			  			text-decoration: underline;
			  			cursor: pointer;
					}

			nav {
  					background-color: #000000;
  					padding: 5px;
  					text-align: center;
  					width: *;
  					position: sticky;
  					top: 0px;
  					color: #FFFFFF;
  					font-family: Dosis, sans-serif;
  					z-index:  2;
  					white-space: pre-wrap;
  					font-size: 1.6vw;
  					height:  auto;
				}

			nav a {
			  		color: #FFFFFF;
			  		text-decoration: none;
			  		margin: 0px 1.6vw;
			  		font-size: 2vw;
					}

			nav a:hover {
			  			text-decoration: underline;
						}

			hr {
					width: 33%;
					color:  #FFFFFF;
					height: 1px;
					border-width: 0;
					color: #FFFFFF;
					background-color: #FFFFFF;
					margin: 2.5vh;
				}

			hr.invisible {
					width: 33%;
					color:  #000000;
					height: 0px;
					border-width: 0;
					color: #FFFFFF;
					background-color: #FFFFFF;
					margin: 0px;
					padding:  0px;
				}

			/* CSS concerning image overlay

			.container {
  						position: relative; 
						}

			.overlay {
					  position: absolute;
					  top: 0;
					  bottom: 0;
					  left: 0;
					  right: 0;
					  height: auto;
					  width: auto;
					  opacity: 0;
					  transition: 1.5s ease;
					  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 50%, rgba(25,25,25,1) 100%);
					  z-index: 1;
					}

			.container:hover .overlay {
					  opacity: .85;
					}

			*/

			.image {
					display: block;
  					width: 50vw;
  					height: auto;
  					margin:  auto;
  					object-position: 50% 50%;
					}

			img.streaming {
				width: 5vw;
				padding: 0px 1vw 0px 1vw;
							}

			img.shirt {
				width: 25vw;
				height: auto;
						}